@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #003E52;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* 通用的 fade-in/fade-out 動畫 */
.fade-enter,
.fade-exit-active {
  opacity: 0;
}

.fade-enter-active,
.fade-exit {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

/* 通用的 scale 動畫 */
.scale-enter {
  transform: scale(1);
}

.scale-exit-active {
  transform: scale(1.05);

}

.scale-exi,
.scale-enter-active {
  transform: scale(1.05);
  transition: transform 300ms ease-in-out;
}

/* 通用的 translateY 動畫 */
.translate-enter,
.translate-exit-active {
  transform: translateY(20px);
}

.translate-enter-active,
.translate-exit {
  transform: translateY(0);
  transition: transform 300ms ease-in-out;
}
