/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 定義全局的 CSS 變量 */
:root {
  /* --background: #003E52; */ /* 主背景色 */
  --foreground: #171717; /* 主前景色 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a; /* 深色模式背景色 */
    --foreground: #ededed; /* 深色模式前景色 */
  }
}

/* 設定 body 的全局樣式 */
body {
  background-color: var(--background); /* 使用自定義背景色 */
  color: var(--foreground); /* 使用自定義前景色 */
  font-family: Arial, Helvetica, sans-serif; /* 設置字體 */
}

/* 添加 Tailwind 的自定義實用工具 */
@layer utilities {
  /* 自定義文本換行 */
  .text-balance {
    text-wrap: balance;
  }
}

/* 動畫效果設置 */
.fade-enter,
.fade-exit-active {
  opacity: 0;
}

.fade-enter-active,
.fade-exit {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.scale-enter {
  transform: scale(1);
}

.scale-exit-active,
.scale-enter-active {
  transform: scale(1.05);
  transition: transform 300ms ease-in-out;
}

.translate-enter,
.translate-exit-active {
  transform: translateY(20px);
}

.translate-enter-active,
.translate-exit {
  transform: translateY(0);
  transition: transform 300ms ease-in-out;
}
